<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
    </Console>

    <!-- Main Kafka Appender -->
    <RollingFile name="KafkaAppender" 
                 fileName="${sys:kafka.logs.dir}/server.log"
                 filePattern="${sys:kafka.logs.dir}/server-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <!-- State Change Appender -->
    <RollingFile name="StateChangeAppender"
                 fileName="${sys:kafka.logs.dir}/state-change.log"
                 filePattern="${sys:kafka.logs.dir}/state-change-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <!-- Request Appender -->
    <RollingFile name="RequestAppender"
                 fileName="${sys:kafka.logs.dir}/kafka-request.log"
                 filePattern="${sys:kafka.logs.dir}/kafka-request-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <!-- Cleaner Appender -->
    <RollingFile name="CleanerAppender"
                 fileName="${sys:kafka.logs.dir}/cleaner.log"
                 filePattern="${sys:kafka.logs.dir}/cleaner-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <!-- Controller Appender -->
    <RollingFile name="ControllerAppender"
                 fileName="${sys:kafka.logs.dir}/controller.log"
                 filePattern="${sys:kafka.logs.dir}/controller-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <!-- Authorizer Appender -->
    <RollingFile name="AuthorizerAppender"
                 fileName="${sys:kafka.logs.dir}/authorizer.log"
                 filePattern="${sys:kafka.logs.dir}/authorizer-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="[%d] %p %m (%c)%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- Root Logger -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="KafkaAppender"/>
    </Root>

    <!-- Zookeeper Logger -->
    <Logger name="org.apache.zookeeper" level="INFO"/>

    <!-- Kafka Loggers -->
    <Logger name="kafka" level="INFO"/>
    <Logger name="org.apache.kafka" level="INFO"/>

    <!-- Request Logger -->
    <Logger name="kafka.request.logger" level="WARN" additivity="false">
      <AppenderRef ref="RequestAppender"/>
    </Logger>

    <!-- Controller Loggers -->
    <Logger name="org.apache.kafka.controller" level="INFO" additivity="false">
      <AppenderRef ref="ControllerAppender"/>
    </Logger>
    <Logger name="kafka.controller" level="TRACE" additivity="false">
      <AppenderRef ref="ControllerAppender"/>
    </Logger>

    <!-- Log Cleaner -->
    <Logger name="kafka.log.LogCleaner" level="INFO" additivity="false">
      <AppenderRef ref="CleanerAppender"/>
    </Logger>

    <!-- State Change Logger -->
    <Logger name="state.change.logger" level="INFO" additivity="false">
      <AppenderRef ref="StateChangeAppender"/>
    </Logger>

    <!-- Authorizer Logger -->
    <Logger name="kafka.authorizer.logger" level="INFO" additivity="false">
      <AppenderRef ref="AuthorizerAppender"/>
    </Logger>

    <!-- Network Loggers -->
    <Logger name="kafka.network.RequestChannel$" level="WARN" additivity="false">
      <AppenderRef ref="RequestAppender"/>
    </Logger>
  </Loggers>
</Configuration>
